<nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">Projeto J146</a> 
            </div>
		  	<div class="hora">  15 Dez 2015 - 13:30 
		  	<a href="#" class="btn btn-danger square-btn-adjust">SAIR</a> 
		  	</div>
</nav>   
        <!-- /. NAV TOP  -->
<nav class="navbar-default navbar-side" >
	<div class="sidebar-collapse">
		<ul class="nav" id="main-menu">
		<li class="text-center">
            	<img src="img_admin/j146.png" class="user-image img-responsive"/>
            </li>
            <li>
                <a>
                	<i class="fa"></i> ATLETAS</a>
            </li>
              <li>
                <a>
                	<i class="fa"></i>RELATÓRIOS</a>
            </li>
            <li>
                <a>
                	<i class="fa"></i>COMPETIÇÕES</a>
            </li>
				   <li>
                <a>
                	<i class="fa"></i>CHAMADAS</a>
            </li>	
				   <li>
                <a>
                	<i class="fa"></i>CONFIGURAÇÕES</a>
            </li>				
		</ul>   
	</div>        
</nav> 